**/.#*
**/*~
**/*.kate-swp
**/*.o
**/*.hi
**/*.o_dyn
**/.directory
**/*.drv
/bin
/.dir-locals.el
/dist
/dist-newstyle/build
/dist-newstyle/cache
/dist-newstyle/packagedb
/dist-newstyle/tmp
/result
/tmp
/.envrc
/node_modules
/.cache/**
